.articulo {
	.thumb img {
		width: 100%;
		height: auto;
		border-radius: 10px;
	}

	.titulo {
		font-size: 26px;
		line-height: 140%;
		color: #000;
	}

	.meta {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		font-size: 14px;
		margin-bottom: 20px;

		.categorias {
			font-weight: 600;
			& ul {
				display: flex;
				list-style: none;
				gap: 20px;
			}
		}

		.fecha {
			color: #3c3c3c;
		}
	}

	.texto {
		color: #0a0a0a;
		line-height: 24px;
		font-size: 14px;
		p {
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 32px;
		}
	}
}
